.topFIVEhomepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start space-evenly;
}

.profileCard {
    border: 1px solid black;
    width: 250px;
    height: 350px;
}

.mainFeed {
    border: 1px solid black;
    width: 750px;
    height: 750px;

}

.createNewtopFIVEcard {
    border: 1px solid black;
    width: 250px;
    height: 350px;
}