.topFiveCardForm, .topFiveProfileCardContainer {
    border: 1px solid black;
    width: 450px;
    height: 650px;
    padding: 1%;
}

.topFiveCardContainer {
    border: 1px solid black;
    width: auto;
    height: auto;
}

.homepageContainer {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.mainFeed-following, .mainFeed-discover, .mainFeed-myTopFive {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1%;
    flex-wrap: wrap;
  }

.cardButton {
    display: flex;
    justify-content: flex-end;
}

.topFIVEcard {
    margin: 2% !important;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10px 10px;
}