.container--login, .container--register {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;
    background-image: url("../images/tv_surround.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.form--login {
    position: absolute;
    top: 30%;
    right: 48%; 
}

.registration {
    display: flex; 
    position: absolute;
    align-content: center;
    top: 25%;
    right: 28%;  
    justify-content: space-evenly;
}

.App {
    margin-left: 15%;
}

.btn {
    margin: 10px;
    padding: 10px;
}